
:host {
  text-align: center;
}
.ant-layout {
  background: #ffffff !important;
}

nz-header,
nz-footer {
  background: #ffffff;
}

nz-footer {
  line-height: 1.5;
  background: transparent;
}



.outer-content {
  padding: 0;
  margin-top: 0;
}


.inner-layout {
  padding: 24px 0;
  background: #fff;
}

.sider-menu {
  height: 100%;
}

.inner-content {
  padding: 0 24px;
  min-height: 280px;
}

nz-footer {
  text-align: center;
}
.updated-partner-details-desktop-vector15 {
  left: 8px;
  width: 164px;
  height: 27px;
  position: absolute;
}
.updated-partner-details-desktop-text101 {
  top: 25px;
  left: 260px;
  color: rgba(3, 16, 80, 1);
  height: auto;
  font-size: 24px;
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.updated-partner-details-desktop-text100 {
  color: rgba(144, 151, 185, 1);
  font-size: 16px;
  font-family: 'Poppins', serif;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.updated-partner-details-desktop-group5062 {
  height: 43px;
  align-items: flex-start;
  flex-shrink: 1;
}
.updated-partner-details-desktop-text102 {
  color: rgba(3, 16, 80, 1);
  font-size: 15px;
  height: auto;
  text-align: left;
  position: absolute;
  font-family: 'Poppins', serif;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.updated-partner-details-desktop-text103 {
  top: 1px;
  color: rgba(3, 16, 80, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  text-align: left;
  font-family: 'Poppins', serif;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.updated-partner-details-desktop-group3653 {

  align-items: flex-start;

}
.updated-partner-details-desktop-bg {
  width: 45px;
  height: 45px;
  position: absolute;
}
.left-side {
  background-color: #031050;
  font-family: 'Poppins', serif;
}

nz-range-picker {
  margin: 0 8px 12px 0;
}
.nz-range-picker[_ngcontent-ng-c815220535], .nz-range-picker[_ngcontent-ng-c2292264486]{
  margin: 0 !important;
}

.ant-picker {
  margin-top: 7px;
  padding: 14px !important;
  //background-color: #031050 !important;
  border-radius: 0 !important;
  border: none !important;
}
.ant-picker[_ngcontent-ng-c2088975014]{
  padding: 0 !important;
}
::ng-deep .ant-picker .ant-picker-suffix {
  display: none !important;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

nz-button-group [nz-button] {
  margin-right: 0;
}

.ant-btn-round {
  height: 36px !important;
  padding: 2px 10px !important;
}

