<nz-layout>
    <div class="flex h-18 pt-4 bg-white">
      <div class="size-14 grow-5">
        <div class="logo">
          <img src="assets/images/vector1264-y7so.svg" alt="Vector1264" class="updated-partner-details-desktop-vector15"/>
        </div>
      </div>
      <div class="flex justify-between size-14 grow-5">
        <div class="hover:underline cursor-pointer updated-partner-details-desktop-text101">Power Plate</div>
        <fa-icon [icon]="caretDown"></fa-icon>
      </div>
      <div class="size-14 grow-5">
        <div class="flex items-center gap-2 text-center justify-center">
          <div class="relative shrink-0">
            <img src="/assets/images/bg1258-6vi-200h.png" alt="bg1258"
              class="w-12 h-12 rounded-full object-cover bg-pink-500"/>
            <span class="absolute inset-0 flex items-center justify-center text-white font-bold text-sm">HD
            </span>
          </div>
          <div class="flex ml-1">
            <span class="font-medium updated-partner-details-desktop-text102">User</span>
            <span class="text-gray-600 updated-partner-details-desktop-text103 mt-5">TEST</span> <!-- Adjust mt-1 for spacing -->
          </div>
        </div>
      </div>
      <div class="size-14 grow-5 updated-partner-details-desktop-text100">Dashboard</div>
    </div>


    <div class="flex h-10 pb-2 relative -top-4">
      <div class="left-side size-14 grow-3 border-l-3 border-pink-500 text-white flex items-center justify-center">
        <fa-icon class="text-pink-500 text-xl mr-3" [icon]="faHome"></fa-icon>
        <span>Dashboard</span>
      </div>

      <div class="flex ml-[13%] items-center mt-3 bg-white size-10 grow-4 p-2 rounded-lg border border-gray-200 shadow-sm hover:shadow-md transition-shadow">
        <fa-icon [icon]="faCalendarAlt" class="text-gray-400 mr-2"></fa-icon>
        @if (displayDate) {
          <span class="flex-grow text-gray-700 text-[12px]">
            {{ displayDate }}
          </span>
        } @else {
          <nz-range-picker
            [(ngModel)]="date"
            (ngModelChange)="onChange($event)"
            class="hidden">
          </nz-range-picker>
        }
        <fa-icon [icon]="caretDown" class="text-gray-500 cursor-pointer ml-2" (click)="showPicker()"></fa-icon>
      </div>

      <div class="size-14 grow-12 flex items-center justify-center">
        <div class="flex items-center gap-4 mt-3">
          <button class="left-side flex items-baseline gap-1" nz-button nzType="primary" [nzSize]="size" nzShape="round">
            Choose Columns <span class="relative -top-0.5" nz-icon nzType="table" nzTheme="outline"></span>
          </button>
          <button (click)="onMessageClick()" class="left-side items-baseline gap-1" nz-button nzType="primary" [nzSize]="size" nzShape="round">
            Message Partners <span class="relative -top-0.5" nz-icon nzType="mail" nzTheme="outline"></span>
          </button>
          <button (click)="onExportClick()" class="left-side items-baseline gap-1" nz-button nzType="primary" [nzSize]="size" nzShape="round">
            Export List <span class="relative -top-0.5" nz-icon nzType="download"></span>
          </button>
        </div>
      </div>
    </div>

  <nz-content class="outer-content">
    <nz-layout class="inner-layout">
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul class="sider-menu left-0">
          <div class="flex items-left justify-left">
            <span nz-icon nzType="user" nzTheme="outline" class="mr-3 left-menu"></span>
            <span class="left-menu">Partners</span>
          </div>
        </ul>
      </nz-sider>
      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
    <nz-footer></nz-footer>
  </nz-content>
</nz-layout>
